.sidebar {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 392px;
  flex-shrink: 0;
  position: sticky;
  top: 24px;
}

@media (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}
