.layoutWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.headerWrapper {
  margin-bottom: 40px;
}

.footerWrapper {
  margin-top: 130px;
}

@media (max-width: 500px) {
  .footerWrapper {
    margin-top: 40px;
  }
}
